<div class="container">
  Last updated on: {{ dataObj.timestamp }}
  <mat-card mat-elevation-z8><b>Current:</b> {{ dataObj.current_rms.toFixed(5) }}A</mat-card>
  <mat-card mat-elevation-z8><b>Voltage:</b> {{ dataObj.voltage_rms.toFixed(5) }}V AC</mat-card>
  <mat-card mat-elevation-z8
    ><b>Power:</b>
    {{
      dataObj.active_power > 1000
        ? (dataObj.active_power / 1000).toFixed(5) + "K"
        : dataObj.active_power.toFixed(5)
    }}W</mat-card
  >
  <mat-card mat-elevation-z8><b>Frequency:</b> {{dataObj.frequency.toFixed(2)}}</mat-card>
  <mat-card mat-elevation-z8><b>Power Factor:</b> {{ dataObj.power_factor.toFixed(2) }}</mat-card>
  <mat-card mat-elevation-z8><b>Energy:</b> {{ dataObj.total_energy }}kWh</mat-card>
  <mat-card mat-elevation-z8><b>Estimated Bill:</b> ₹ {{ getBill() }}</mat-card>
  <mat-card mat-elevation-z8>
    <p><b>Power Outage Logs:</b></p>
    <table class="power-outage-table">
      <tr>
        <th>SL.</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      <tr
        *ngFor="let outage of dataObj.power_outages | keyvalue; let i = index"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ outage.key }}</td>
        <td>{{ outage.value }}</td>
      </tr>
    </table>
  </mat-card>
</div>
<div class="spacer"></div>
