<div class="container">
  Last updated on: {{ dataObj.timestamp }}
  <mat-card mat-elevation-z8>Current: {{ dataObj.current_rms }}A</mat-card>
  <mat-card mat-elevation-z8>Voltage: {{ dataObj.voltage_rms }}V AC</mat-card>
  <mat-card mat-elevation-z8
    >Power:
    {{
      dataObj.active_power > 1000
        ? dataObj.active_power / 1000 + "K"
        : dataObj.active_power
    }}W</mat-card
  >
  <mat-card mat-elevation-z8>Energy: {{ dataObj.total_energy }}KWh</mat-card>
  <mat-card mat-elevation-z8>Estimated Bill: ₹{{ getBill() }}</mat-card>
  <mat-card mat-elevation-z8>
    <p>Power Outage Logs:</p>
    <table class="power-outage-table">
      <tr>
        <th>SL.</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
      <tr
        *ngFor="let outage of dataObj.power_outages | keyvalue; let i = index"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ outage.key }}</td>
        <td>{{ outage.value }}</td>
      </tr>
    </table>
  </mat-card>
</div>
<div class="spacer"></div>
