.container {
  padding: 1%;
}

mat-card {
  margin: 1%;
  padding-left: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.power-outage-table {
  border: 1px solid black;
  overflow-y: auto;
  td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }
  th {
    position: -webkit-sticky, sticky;
    top: 0;
    z-index: 1;
  }
}
